/* ----- NORMALIZE ----- */
@import 'node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: cinzelRegular;
  src: url(./assets/Cinzel-Regular.otf);
}

@font-face{
  font-family: cinzelDec;
  src: url(./assets/CinzelDecorative-Regular.ttf);
}

/* :root {
  line-height: 1.5;
} */

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol, ul {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* ----- VARIABLES ----- */
:root {
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fff8ef;
    --primary-color: black;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
  }

html {
  background-color: #fff6ec;
    font-size: 24px;
    scroll-behavior: smooth;
}
nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 1rem 1.5rem;
    background-color: #fff8ef;
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); */
}
a {
    text-decoration: none;
    color: var(--primary-color);
}  

nav h1 {
  color: var(--primary-color);
}
  
nav a{
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}
  
nav ul {
  display: flex;
  gap: 1.5rem;
}
  
nav ul li {
  font-weight: var(--bold-font);
}
.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.hero{
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  padding: 1rem 0;
  /* font-size: clamp(1rem, 50%, 6rem); */
  /* outline: auto; */
  /* align-items: flex-start; */
  width: 100%;
  max-width: 60rem;
  margin-inline: auto;
  margin: auto;
  /* margin-left: 4rem; */
  justify-content: center;
  align-items: center;
}

.headerContainer{
  position: relative;
  /* font-family: Sora, sans-serif; */
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  max-width: 70vw;
  display: flex;
  flex-direction: column;
  z-index: 1;
  /* outline: auto; */
  padding:10px;
}

.headerImage{
  position: absolute;
  z-index: -1;
  left: 10%;
  top: -5%;
  height: 110%;
  width: 45vw;
  color: #dcdaab;
  filter: brightness(1);
}


.headerText{
  overflow: hidden;
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: color .2s;
  /* font-weight: 200; */
  letter-spacing: 0.1rem;
}

.headerText:first-child {
  align-self: flex-start;
  font-weight: bold;
  font-size: 9vw;
  /* letter-spacing: 0.5rem; */
}

.headerText:nth-child(2) {
  padding-left: 5%;
  font-weight: bold;
  font-size: 7.5vw;
}

.headerText:nth-child(3) {
  margin-left: 15%;
  margin-top: 1vw;
  font-weight: light;
  font-size: 6.5vw;
  /* font-family: cinzelDec; */
}

.headerText:nth-child(4) {
  margin-left: 22%;
  margin-top: 1vw;
  font-weight: light;
  font-size: 6.5vw;
  /* font-family: cinzelDec; */
}

/* .header .lastName{
  margin-left: 1rem;
  /* align-self: center; */
/* }
.header .firstHeaderWord{
  margin-left: 3rem;
  font-weight: bold;
}
.header .lastHeaderWord{
  margin-left: 5rem;
  font-weight: bold;
} */




footer{
  background-color: #58545B;
  /* background-color: #F8E1C6; */
  color: white;
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
}
footer a{
  color: white;
  font-size: 0.8rem;
  text-decoration: underline;
}